 *{
	background: #E5E5E5;		
	font-family: 'Inter', sans-serif;
	font-weight: 400;                /* Define o grau do negrito da fonte */  
	
	line-height: 150%;				 /* Define o espaçamento entre as linhas de um texto */
	box-sizing: border-box;
} 


body{
	/*background-color: red ;*/
}

#logoAlura{
	margin-left: 10px;
	padding-top: 10px;
	width: 2%;
}

main{
	/*background-color: blue;*/
	display: flex;
	margin-bottom: 50px;
	margin-left: 80px;
	
}

#mensagem{
	border: none;
	color: #0A3871;
	margin-top: 90px;
	text-transform: lowercase;
	font-size: 32px;
	resize: none;
}

::placeholder {color: #0A3871;}   /* Define cor para o placeholder no carregamento da page */
	#mensagem:focus{				/* Ao clicar no campo mensagem, continua sem borda */	
		outline: none;		
	}


#mensagem_resultado {
	background: #FFFFFF;
/*	background-image: url(/imagens/efeito.png); /* A declaração da imagem foi susbtuída para o HTML.
	background-position: center;
	background-repeat: no-repeat; */
	border: none;
	border-radius: 24px;
	color: #0A3871;
	margin-left: 98px;
	height: 83%;
	padding-left: 20px;
	position: fixed;
	font-size: 32px;
	resize: none;
}

#mensagem_resultado:focus{
	outline: none;
}


.botoes{
	font-size: 12px;
}

#botao_cripto{
	background-color: #0A3871;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #FFFFFF;
	cursor: pointer;
	height: 67px;
	width: 328px;
}

#botao_descripto{
	background: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	margin-left: 30px;
	width: 328px;
}

#botao_copiar{
	display: none;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	width: 336px;

	margin-left: 110px;
	margin-top: 590px;
	padding-left: 20px;

	   					/* absolute para deixar o elemento por cima */
	

}

.orientacoes{
	color: #495057;
	font-size: 22px;
	margin-top: 35%;
}

#msg_inicial{
	
	text-align: center;
	border: none;
	
	color: black;
	border: none;
	border-radius: 24px;
	margin-left: 98px;
	height: 83%;
	padding-left: 20px;
	position: absolute;
	

}

#imagem_inicial{
	margin-top: 50%;
	

}

#sub_mensagem_inicial{
	font-size: 12px;
}