
.campo-escrita{
	margin: 30px  30px 30px 30px;
}

.botao_class{
	font-size: 1.1em;
    background-color: #EBF5FF;
    color: #4312AE;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #999999;
    margin-right:20px;
}

#botao_id{
    background-color: red;
    align-content: center;
    
}   
 