*{
	background: #E5E5E5;		
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

#logoAlura{
	margin-left: 10px;
	padding-top: 10px;
	width: 2%;
}

main{
	display: flex;					/* Permite que as sections fiquem lado a lado*/
	margin-bottom: 50px;
	margin-left: 80px;
}

#mensagem{
	border: none;
	color: #0A3871;
	margin-top: 90px;
}

::placeholder {color: #0A3871;}   /* Define cor para o placeholder no carregamento da page */
	#mensagem:focus{				/* Ao clicar no campo mensagem, continua sem borda */	
		outline: none;		
	}

#mensagem_resultado {
	background: #FFFFFF;
	background-image: url(/imagens/efeito.png);
	background-repeat: no-repeat;
	border: none;
	border-radius: 24px;
	color: #0A3871;
	margin-left: 98px;
	margin-top: 20px;
	padding-left: 20px;
	position: fixed;
}

#mensagem_resultado:focus{
	outline: none;
}

.botoes{
	display: flex;
	margin-top: 10px;
	gap: 8px;
	padding: 24px;
}

#botao_cripto {
	background-color: #0A3871;
	border 1px solid #0A3871;
	border-radius: 24px;
	color: #FFFFFF;
	cursor: pointer;
	height: 67px;
	width: 328px;
}

#botao_descripto {
	background: #D8DFE8;
	border 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	margin-left: 30px;
	width: 328px;
}

#botao_copiar {
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	margin-left: 108px;
	margin-top: 402px;
	position: absolute;               /* absolute para deixar o elemento por cima */
	width: 336px;

}

#orientacoes{
	color: #495057;
	font-size: 18px;
}